/*----------------------
 	Features
----------------------*/

.features {
	background-color: #f7f7f7;
}

.features .grid li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i {
	font-size: 50px;
	color: #2196F3;
	margin-bottom: 25px;
}

.features .grid li h4 {
	color: #555;
	font-size: 20px;
	margin-bottom: 25px;
}

.features-logo {
	mix-blend-mode: multiply;
	background-color: #555;
}

.features .grid li p {
	margin: 0;
}

@media (max-width: 1000px) {

	.features .grid li {
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child {
		margin-bottom: 0;
	}

}

@media (max-width: 600px) {

	.features .grid li {
		flex-basis: 100%;
	}

}

.features-logo {
	mix-blend-mode: multiply;
	background-color: #f7f7f7;
}